<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>findFriend</servlet-name>
        <servlet-class>com.totoro.findFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.totoro.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNews</servlet-name>
        <servlet-class>com.totoro.addNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNews</servlet-name>
        <servlet-class>com.totoro.editNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteNews</servlet-name>
        <servlet-class>com.totoro.deleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addArticle</servlet-name>
        <servlet-class>com.totoro.addArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteArticle</servlet-name>
        <servlet-class>com.totoro.deleteArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editArticle</servlet-name>
        <servlet-class>com.totoro.editArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editContact</servlet-name>
        <servlet-class>com.totoro.editContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteContact</servlet-name>
        <servlet-class>com.totoro.deleteContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAED</servlet-name>
        <servlet-class>com.totoro.addAED</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAED</servlet-name>
        <servlet-class>com.totoro.editAED</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAED</servlet-name>
        <servlet-class>com.totoro.deleteAED</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPost</servlet-name>
        <servlet-class>com.totoro.createPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPost</servlet-name>
        <servlet-class>com.totoro.editPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePost</servlet-name>
        <servlet-class>com.totoro.deletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentServlet</servlet-name>
        <servlet-class>com.totoro.commentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goToFriend</servlet-name>
        <servlet-class>com.totoro.goToFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aedController</servlet-name>
        <servlet-class>controller.aedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notifyFriendController</servlet-name>
        <servlet-class>controller.notifyFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>articleController</servlet-name>
        <servlet-class>controller.articleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hospitalController</servlet-name>
        <servlet-class>controller.hospitalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsController</servlet-name>
        <servlet-class>controller.newsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notificationController</servlet-name>
        <servlet-class>controller.notificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sharingController</servlet-name>
        <servlet-class>controller.sharingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageFriendController</servlet-name>
        <servlet-class>controller.manageFriendController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNews</servlet-name>
        <url-pattern>/addNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNews</servlet-name>
        <url-pattern>/editNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteNews</servlet-name>
        <url-pattern>/deleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addArticle</servlet-name>
        <url-pattern>/addArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteArticle</servlet-name>
        <url-pattern>/deleteArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editArticle</servlet-name>
        <url-pattern>/editArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editContact</servlet-name>
        <url-pattern>/editContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteContact</servlet-name>
        <url-pattern>/deleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAED</servlet-name>
        <url-pattern>/editAED</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAED</servlet-name>
        <url-pattern>/deleteAED</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPost</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPost</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePost</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentServlet</servlet-name>
        <url-pattern>/commentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goToFriend</servlet-name>
        <url-pattern>/goToFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aedController</servlet-name>
        <url-pattern>/aedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notifyFriendController</servlet-name>
        <url-pattern>/notifyFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>articleController</servlet-name>
        <url-pattern>/articleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hospitalController</servlet-name>
        <url-pattern>/hospitalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsController</servlet-name>
        <url-pattern>/newsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notificationController</servlet-name>
        <url-pattern>/notificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sharingController</servlet-name>
        <url-pattern>/sharingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageFriendController</servlet-name>
        <url-pattern>/manageFriendController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
